doctype html
html
    head
        //link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" href="bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" href="bootstrap/css/customerReg.css")
        title List of Customers
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href="#")
                strong BB-Banja
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #navbarNavDropdown.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href="#")
                            | Home 
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href="#") Pricing
                    li.nav-item
                        a.nav-link(href="#") About us
                    

        table.table
            thead.thead-dark
                tr
                    th First Name
                    th Last Name
                    th Contact
                    th Nationality
                    th Date of Birth
                    th NIN
                    th Stage Name
                    th Vehicle
                    th Down Payment
                    
                    
            tbody
                each customer in customers
                    tr
                        td #{customer.firstName}
                        td #{customer.lastName}
                        td #{customer.contact}
                        td #{customer.nationality}
                        td #{customer.dob}
                        td #{customer.nin}
                        td #{customer.stageName}
                        td #{customer.vehicleType}
                        td #{customer.downPayment}
        footer.fixed-bottom(style ="text-align: center; padding-top: 90px;") &copy;Banja2020
                        
                        
