doctype html
html
    head
        //link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" href="bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" href="bootstrap/css/customerReg.css")
        title List of Sales People
    body
        nav.navbar.navbar-fixed.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href="#") Navbar
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #navbarNavDropdown.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href="#")
                            | Home 
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href="#") Pricing
                    li.nav-item
                        a.nav-link(href="#") About us
                    li.nav-item.dropdown
                        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                            | Select role
                    .dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
                        a.dropdown-item(href="#") Admin
                        a.dropdown-item(href="#") Sales Person
                        a.dropdown-item(href="#") Supervisor

        table.table
            thead.thead-dark
                tr
                    th First Name
                    th Last Name 
                    th Supervisor
                    th Contact
                    th ID 
                    th Email
                    th Working Days 
                    th Date of Birth
                    th Date 
            tbody
                each salesPerson in salesPeople
                    tr
                        td #{salesPerson.firstName}
                        td #{salesPerson.lastName}
                        td #{salesPerson.supervisor}
                        td #{salesPerson.contact}
                        td #{salesPerson.id}
                        td #{salesPerson.email}
                        td #{salesPerson.workingDaysNum}
                        td #{salesPerson.dob}
                        td #{salesPerson.todayDate}
        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")

                        
